/* General style */
* {
  box-sizing: border-box;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
}

/* Bayan */

.bayan__item {
  list-style: none;
  margin: 0 0 20px;
}

.bayan__input {
  display: none;
}

.bayan__content {
  height: 0;
  overflow: hidden;
  transition: 0.5s;
}

.bayan__label:hover+.bayan__content {
  height: auto;
  padding: 10px 0;
}